<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ndtp.persistence.ConverterMapper">

	<!-- converter job 등록 -->
	<insert id="insertConverterJob" parameterType="converterJob">
		/* insertConverterJob */
		<selectKey keyProperty="converter_job_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('converter_job_seq')
  		</selectKey>
		INSERT INTO converter_job(
			converter_job_id, upload_data_id, user_id, title, converter_template, file_count,
			<if test="status != null and status != ''">
			status, 
			</if>
			error_code
		) VALUES (
			#{converterJobId}, #{uploadDataId}, #{userId}, #{title}, #{converterTemplate}, #{fileCount},
			<if test="status != null and status != ''">
			#{status}, 
			</if>
			#{errorCode}
		)
	</insert>
	
	<!-- converter job file 등록 -->
	<insert id="insertConverterJobFile" parameterType="converterJobFile">
		/* insertConverterJobFile */
		<selectKey keyProperty="converter_job_file_id" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('converter_job_file_seq')
  		</selectKey>
		INSERT INTO converter_job_file(
			converter_job_file_id, converter_job_id, upload_data_id, upload_data_file_id, data_group_id, user_id,
			<if test="status != null and status != ''">
			status, 
			</if>
			error_code
		) VALUES (
			#{converterJobFileId}, #{converterJobId}, #{uploadDataId}, #{uploadDataFileId}, #{dataGroupId}, #{userId},
			<if test="status != null and status != ''">
			#{status}, 
			</if>
			#{errorCode}
		)
	</insert>
	
	<!-- converter job -->	
	<update id="updateConverterJob" parameterType="converterJob">
		/* updateConverterJob */
		UPDATE converter_job
		SET 
			<if test="title != null and title != ''">
			title = #{title},
			</if>
			<if test="status != null and status != ''">
			status = #{status},
			</if>
			<if test="converterTemplate != null and converterTemplate != ''">
			converter_type = #{converterTemplate},
			</if>
			<if test="errorCode != null and errorCode != ''">
			error_code = #{errorCode},
			</if>
			update_date = now()
		WHERE converter_job_id = #{converterJobId}
			<if test="userId != null and userId != ''">
			AND user_id = #{userId}
			</if>
	</update>
</mapper>