<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ndtp.persistence.DataAttributeFileInfoMapper">

	<!-- 파일 정보 저장 -->
	<insert id="insertDataAttributeFileInfo" parameterType="dataAttributeFileInfo" >
		/* insertDataAttributeFileInfo */
		<selectKey keyProperty="dataFileInfoId" resultType="long" order="BEFORE">
    		SELECT NEXTVAL('data_file_info_seq')
  		</selectKey>
		INSERT INTO data_file_info(
			data_file_info_id, data_id, user_id, file_name, file_real_name, file_path, file_size, file_ext
		) VALUES (
			#{dataFileInfoId}, #{dataId}, #{userId}, #{fileName}, #{fileRealName}, #{filePath}, #{fileSize}, #{fileExt}
		)
	</insert>
	
	<!-- 파일 파싱 로그 저장 -->
	<!-- <insert id="insertFileParseLog" parameterType="fileParseLog">
		<selectKey keyProperty="file_parse_log_id" resultType="long" order="BEFORE">
			SELECT NEXTVAL('file_parse_log_seq');
		</selectKey>
		INSERT INTO file_parse_log (
			file_parse_log_id, file_info_id, identifier_value, error_code, log_type, status
		) VALUES (
			#{file_parse_log_id}, #{file_info_id}, #{identifier_value}, #{error_code}, #{log_type}, #{status}
		)
	</insert> -->
</mapper>