@charset "utf-8";
/* RESET CSS */
* { margin:0; padding:0; outline:0; vertical-align:top; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu nav, section { display:block; }
ul, ol, dl { list-style:none; }
img, video { max-width:100%; border:0; vertical-align:top; }
a {vertical-align:top; text-decoration:none; color:#000; }
table { border-collapse:collapse; border-spacing:0; }
input, select { vertical-align:middle; }
html, body { margin:0; padding:0; height:100%; }
body, th, td, input, select, textarea { color:#444; font-family:'Malgun Gothic','돋움',dotum, sans-serif; font-size:13px; line-height:1.5em;}
button { cursor:pointer; font-family:'Malgun Gothic','돋움'; }

/* ////////// LAYOUT ////////// */
header {
display: flex;
height: 50px;
background-color: #287be4;
}
#wrap {
position: relative;
height: calc(100% - 50px);
}
.map {
height: 100%;
}

/* ////////// HEADER ////////// */
h1 {
width: 500px;
height: 50px;
margin: 13px;
padding: 0 0 0 80px;
font-size: 22px;
letter-spacing: -1px;
color: #fff;
cursor: pointer;
font-weight: normal;
background: url(/images/ko/logo.png) no-repeat 0 0;
}

.signArea {
position: absolute;
right: 0;
margin: 10px;
font-size: 15px;
color: #fff;
}
.signArea > span {
border-bottom: 1px solid #fff;
}
.signArea * {
vertical-align: middle;
}
.signArea > span * {
vertical-align: middle;
}
.signArea > .signButton {
	margin: 2px 10px 0px 20px;
	padding: 3px 20px 10px;
	color: #fff;
	border-radius: 15px;
	border: none;
	background-color: #262b3f;
}


/* ///// GNB WRAP ///// */
/* 통합검색 */
#gnbWrap {
position: absolute;
left: 60px;
}
#gnbWrap div {
display: inline-block;
}
.totalSearch > input {
width: 301px;
height: 50px;
padding: 0 10px;
font-size: 1.1em;
border: none;
}
.totalSearch {
border-bottom: 1px solid #ccc;
}
.totalSearch > button.btnTotalSearch {
width: 50px;
height: 50px;
margin-left: -5px;
border: none;
text-indent: -999em;
background-color: #fff;
background-image: url(/images/ko/ico.png);
background-repeat: no-repeat;
background-position: 5px -103px;
}
/* 행정구역 */
.district {
position: relative;
height: 50px;
margin-left: -5px;
padding-right: 10px;
color: #fff;
cursor: pointer;
background-color: #35353d;
background-image: url(/images/ko/ico.png);
background-repeat: no-repeat;
background-position: right -700px;
}
.district > p {
padding: 14px 8px;
}
/* 행정구역 레이어 */
.districtWrap {
position: absolute;
left: 371px;
top: 50px;
width: 355px;
box-shadow: 1px 1px 2px 0 #333;
background-color: #fff;
}
.districtLayer {
overflow: hidden;
border-bottom: 1px solid #555;
}
.districtLayer > ul {
overflow-x: hidden;
overflow-y: scroll;
display: inline-block;
width: 120px;
height: 250px;
margin-left: -5px;
}
.districtLayer > ul li {
display: block;
padding: 3px 0 3px 8px;
color: #222;
cursor: pointer;
letter-spacing: -1px;
}
.districtLayer > ul li:hover {
background-color: #eee;
}
.districtLayer > ul li.on {
background-color: #dbf1ff;	
}
.districtBtn {
width: 335px;
padding: 10px;
text-align: center;
background-color: #eee;
}
.districtBtn > button:first-child {
width: 150px;
}

/* ////////// NAVWRAP ////////// */
/* NAV */
.navWrap {
float: left;
position: relative;
height: 100%;
background-color: #262b3f;
}
ul.nav {
float: left;
height: 100%;
width: 60px;
}
ul.nav li {
padding: 40px 0 10px 0px;
font-size: 13px;
color: #fff;
cursor: pointer;
text-align: center;
border-bottom: 1px dotted #444a61;
background-image: url(/images/ko/ico.png);
background-repeat: no-repeat;
}
ul.nav li.on {
background-color: #287be4;
}
ul.nav li.search {
background-position: -445px 10px;
}
ul.nav li.data {
background-position: -445px -90px;
}
ul.nav li.convert {
background-position: -445px -190px;
}
ul.nav li.spatial {
background-position: -445px -290px;
}
ul.nav li.simulation {
letter-spacing: -2px;
background-position: -445px -390px;
}
ul.nav li.joinin {
background-position: -445px -490px;
}
ul.nav li.setup {
background-position: -445px -590px;
}

/* CONTENTSBTN */
.contentsBtn {
position: absolute;
right: -25px;
top: 50%;	
}
.contentsBtn > button {
position:fixed;
margin-left:-25px;
display: inline-block;
width: 25px;
height: 50px;
color: transparent;
border-radius: 0px 5px 5px 0;
border: none;
background-image: url(/images/ko/ico.png);
background-position: 8px -405px;
background-repeat: no-repeat;
background-color: #ccc;
}

/* CONTENTSWRAP */
.contentsWrap {
position:absolute;
float: left;
overflow-y: auto;
height: 100%;
width: 370px;
padding-top: 50px;
box-sizing: border-box;
background-color: #eaeaea;
margin-left:60px;
z-index:10;
}
.contents {
margin: 7px;
padding: 10px;
border: 1px solid #e0e0e0;
background-color: #fff;
}
.contentsList {
margin: 10px;
background-color: #eaeaea;
}

.contentsCover {
position: absolute;
width: calc(100% - 60px);
height: 100%;
margin-left: 60px;
padding: 30px;
background-color: #fff;
z-index: 100;
box-sizing: border-box;
}
.contentsCover > div {
height: 100%;
}
.fullHeight {
height: calc(100% - 37px);
}
.contents > h3 {
margin-bottom: 10px;
padding-left: 12px;
font-size: 16px;
background: url(/images/ko/ico.png) no-repeat 3px -592px;
}
/* MAP / CTRLBTNS */
.ctrlWrap {
position: absolute;
top: 3px;
right: 3px;
}
.ctrlWrap div {
display: inline-block;
color: #fff;
border-radius: 25px;
background-color: #252535;
}
.ctrlWrap div > button {
border: none;
border-radius: 25px;
background-color: transparent;
background-image: url(/images/ko/ico.png);
background-repeat: no-repeat;
}
.ctrlWrap div button:hover {
background-color: #333446;
}
.ctrlWrap div.zoom button {
width: 50px;
height: 50px;
text-indent: -999em;
}
.ctrlWrap div.rotate button {
width: 50px;
height: 50px;
text-indent: -999em;
}
.ctrlWrap div > button.reset {
background-position: 15px 0;
}
.ctrlWrap div > button.zoomall {
background-position: -35px 0;
}
.ctrlWrap div > button.zoomin {
background-position: -85px 0;
}
.ctrlWrap div > button.zoomout {
background-position: -135px 0;
}
.ctrlWrap div > button.distance {
background-position: -185px 0;
}
.ctrlWrap div > button.distance.on {
background-position: -185px -50px;
background-color: #fff600;
}
.ctrlWrap div > button.area {
background-position: -242px 0;
}
.ctrlWrap div > button.area.on {
background-position: -242px -50px;
background-color: #fff600;
}
.ctrlWrap div > button.rotateReset {
background-position: -285px 0;
}
.ctrlWrap div > button.rotateReset.on {
background-color: #fff600;
background-position: -285px -50px;
}
.ctrlWrap div > button.rotateLeft {
background-position: -340px 0;
}
.ctrlWrap div > button.rotateRight {
background-position: -390px 0;
}
.ctrlWrap div > input {
width: 30px;
margin-top: 3px;
padding: 8px;
font-size: 17px;
color: #fff;
text-align: center;
border: none;
border-bottom: 2px solid #fff;
background-color: transparent;
}

/* ///// 데이터 ///// */
.dataGroupSum {
display: flex;
margin: 10px 0;
padding-bottom: 10px;
border-bottom: 1px dotted #ccc;
}
.dataGroupSum li {
flex: auto;
margin:0 10px;
text-align: center;
}
.dataGroupSum li:last-child {
margin-right: 0;
}
.dataGroupSum li > span {
font-size: 17px;
font-weight: bold;
}

/* /// 데이터 게시판 목록 /// */
.tableList {
position: relative;
}
.tableList > table {
width: 100%;
}
.tableList > table thead th {
padding: 5px;	
border: 1px solid #43444c;
}
.tableList > table tbody tr:hover {
cursor: pointer;
background-color: #f9f9f9;
}
.tableList > table tbody tr.selected {
background-color: #d6dcf2;
}
.tableList > table tr td {
padding: 7px 5px;
border: 1px solid #bcbdc7;
font-size: 14px;
text-align: center;
}
.tableList > table tr td a {
border-bottom: 1px solid #000;
}
.tableList > table tr td.alignLeft {
text-align: left;
}
.tableList > table tr td.center {
text-align: center;
}
/* 양쪽으로 나눠진 구분DIV */
.bothSide {
display: flex;
margin-bottom: 3px;
}
.bothSide > div {
flex: auto;
}
.bothSide > div:first-child {

}
.bothSide > div:first-child > span {
color: #287be4
}
.bothSide > div:last-child {
text-align: right;
}

/*  ///// 시민참여 ///// */
.comment > li {
display: flex;
position: relative;
margin-bottom: 10px;
padding: 7px;
border-radius: 5px;
border: 1px solid #c7e0f2;
background-color: #ecf7ff;
}
.comment li > p {
flex: auto;
padding-right: 10px;
}
.comment li > p:first-child {
min-width: 215px;
}
.comment span.id {
display: block;
color: #999;
}
.comment p.count {
min-width: 40px;
padding: 8px 5px 0 15px;
font-size: 17px;
font-weight: bold;
text-align: right;
background: url(/images/ko/ico.png) no-repeat 0 -487px;
}


/* 의견보기 */
.commentView {
margin: 10px 0 20px;
}
.commentView > div {
margin-bottom: 5px;
}
.commentView > .title {
margin-bottom: 10px;
padding: 10px 0 0 25px;
font-size: 18px;
font-weight: bold;
border-radius: 5px;
background: url(/images/ko/ico.png) no-repeat 3px -639px;
}
.commentView > .con {
max-height: 250px;
overflow-y: auto;
padding: 10px;
font-size: 14px;
line-height: 1.5em;
border-radius: 10px;
background-color: #f1f1f1;
}
.agreeWrap {
height: calc(100% - 485px)
}
.agreeWrap p.agree {
padding: 0 0 0 25px;
background: url(/images/ko/ico.png) no-repeat 0 -495px;	
}
.agreeCount {
margin: 7px 0;
}
.agreeCount > span {
color: #287be4;
}
.agreeNew {
margin: 20px 0;
}
.agreeNew > input {
width: 198px;
padding: 7px 7px 7px 30px;
border: 2px solid #555;
background: url(/images/ko/ico.png) no-repeat 7px -490px;	
}

/* 의견등록 */
.commentNew {
margin-top: 20px;
}
.commentNew li {
margin-bottom: 15px;
}
.commentNew li > label {
display: block;
margin-bottom: 7px;
}
.commentNew li > input {
padding: 7px;
}
.commentNew li p.info {
font-size: 12px;
color: #777;
text-align: right;
}
.commentNew li p.info > span {
color: #287be4
}

/* 목록검색 */
.listSearch {
margin-bottom: 10px;
padding: 7px;
background-color: #f3f3f3;
}
.listSearch  > input {
width: 230px;
padding: 10px;
font-size: 1.1em;
border: none;
}
.listSearch > button {
width: 30px;
height: 30px;
margin-left: -5px;
border: none;
text-indent: -999em;
background-image: url(/images/ko/ico.png);
background-repeat: no-repeat;
background-position: 0px -110px;
}

/* PAGINATION */
.pagination {
position: relative;
margin: 7px 0;
text-align: center;
}
.pagination li {
display: inline-block;
margin: 0;
padding: 0;
font-size: 13px;
padding: 2px 5px;
cursor: pointer;
}
.pagination li * {
vertical-align: middle;
}
.pagination li.on {
font-weight: bold;
text-decoration: underline;
}
.pagination .ico {
width: 20px;
height: 20px;
padding: 0;
text-indent: -999em;
}
.pagination .first {
background: url(/images/ko/pagenation_first.png) no-repeat 0 0;
}
.pagination .forward {
background: url(/images/ko/pagenation_forward.png) no-repeat 0 0;
}
.pagination .back {
background: url(/images/ko/pagenation_back.png) no-repeat 0 0;
}
.pagination .end {
background: url(/images/ko/pagenation_end.png) no-repeat 0 0;
}
/* 버튼정렬 */
.btnAlignR {
text-align: right;
}
.btnAlignC {
text-align: center;
}
.btnText {
padding: 2px 5px;
font-size: 0.9em;
color: #888;
border: 1px solid #ccc;
border-radius: 2px;
background-image: none;
background-color: #fff;
}
button.basicA {
padding: 8px;
color: #51515b;
border: 1px solid #9898a0;
border-radius: 3px;
background-color: #fff;
}
button.focusA {
padding: 8px 30px;
color: #fff;
border: 1px solid #414149;
border-radius: 3px;
background-color: #51515b;
}
button.focusC {
padding: 8px 30px;
color: #51515b;
border: 1px solid #9898a0;
border-radius: 3px;
background-color: #fff;
}
button.focusAgree {
padding: 8px 12px;
color: #51515b;
border: 1px solid #9898a0;
border-radius: 3px;
background-color: #fff;
}

/* FROM NIPA 국방부, 권재현*/
.btnText {
padding: 2px 5px;
font-size: 0.9em;
color: #888;
border: 1px solid #ccc;
border-radius: 2px;
background-image: none;
background-color: #fff;
}
.btnText:hover {
color: #477cdb;
border: 1px solid #477cdb;
background-color: #fff;
background-image: none;
}
.btnTextF {
padding: 2px 10px;
font-size: 0.9em;
color: #fff;
border-radius: 2px;
border: 1px solid #51515b;
background-color: #51515b;
background-image: none;
}
.btnTextF:hover {
color: #477cdb;
border: 1px solid #477cdb;
background-color: #fff;
background-image: none;
}
/* LIST DROP  / 검색결과 */
ul.listDrop > li {
margin-bottom: 3px;
cursor: pointer;
}
ul.listDrop li > p {
padding: 8px;
font-weight: bold;
border:1px solid #e0e0e0;
background-image: url(/images/ko/ico.png);
background-repeat: no-repeat;
background-position: right -255px;
background-color: #fff;
}
ul.listDrop li > p > span {
font-weight: normal;
}
ul.listDrop li > ul {
display: none;
}
ul.listDrop li.on > p {
color: #fff;
border-bottom: 3px solid #eaeaea;
background-color: #287be4;
background-image: url(/images/ko/ico.png);
background-repeat: no-repeat;
background-position: right -210px;
}
ul.listDrop li p span {
display: inline-block;
margin-left: 10px;
}
ul.listDrop li.on > ul {
overflow-x: hidden;
overflow-y: auto;
display: block;
background-color: #fff;
}
ul.listDrop li.on > ul li {
padding: 10px;
}
ul.listDrop li.on ul li > span {
display: block;
}
ul.listDrop li.on ul li > span.title {
text-decoration: underline;
}
ul.listDrop li.on > ul > li:hover {
background-color: #dbf1ff;
}
/* LIST DROP  / 분석 */
ul.listDrop li > div.listContents {
display: none;
}
ul.listDrop li.on > div.listContents {
display: block;
padding: 10px;
border:1px solid #e0e0e0;
background-color: #fff;
}
/* LIST DROP  / 분석 */
ul.listDrop li > div.listContents {
display: none;
}
ul.listDrop li.on > div.listContents {
display: block;
padding: 10px;
border:1px solid #e0e0e0;
background-color: #fff;
}
/*  CONTENTS / 분석 */
.analysisGroup {
/* margin: 10px 0;
padding-left: 10px;
padding-right: 10px; */
cursor: pointer;
}
.analysisGroup.on {
background-position: -755px -555px;
}
.analysisGroup.plus {
background-position: -386px -555px;
}
.analysisGroup li {
position: relative;
padding: 5px 0;
}
.analysisGroup li label {
display: inline-block;
width: 120px;
/* width: 35%; */
padding: 3px 0;
}
.analysisGroup li input {
width: 124px;
/* width: 62%; */
padding: 3px 0;
border: none;
border-bottom: 1px solid #e0e0e0;
}
.analysisGroup li input.withBtn {
width: 120px;
}

.analysisGroup li span.coordText {
padding-left: 123px;
}
.analysisGroup li button.coordBtn {
margin-left: 30px;
border: 0;
text-decoration: underline;
}
.analysisGroup li input:hover {
border-bottom: 1px solid #477cdb;
}
.analysisGroup li.btns {
padding-top: 25px;
text-align: right;
}
.analysisGroup li select {
width: 124px;
padding: 3px 0;
border: none;
border: 1px solid #e0e0e0;
}
.analysisGroup li select:hover {
border: 1px solid #477cdb;
}

.analysisGroup .profileInfo {
	display: none;
}
.analysisGroup .profileInfo .legend {
}
.analysisGraphic {
	position: absolute;
	bottom: 20px;
	left: 410px;
	right: 0;
	height: 200px;
	padding: 20px;
	margin: 10px;
	background-color: #fff;
	z-index: 9;
	display: none;
}
.analysisGraphic canvas {
	border: 1px dotted red;
}

.analysisGroup .routeInfo {
	margin-top: 20px;
	border-top: 2px solid #e0e0e0;
	display: none;
}
.analysisGroup .routeResult .cover {
	padding: 10px 0 15px;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
}
.analysisGroup .routeResult .time {
	font-size: 24px;
	color: #2196F3;
}
.analysisGroup .routeResult .length {
	font-size: 20px;
	color: #fe6c59;
}
.analysisGroup .routeList .r_row {
	display: flex;
	border-bottom: 1px solid #e0e0e0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.analysisGroup .routeList .r_row .num {
	width: 20px;
	border: 1px solid;
	border-radius: 18px;
	padding: 6px;
	margin-left: 10px;
	margin-right: 16px;
	text-align: center;
}
.analysisGroup .routeList .r_row .name {
	line-height: 33px;
}
.analysisGroup .routeList .r_row.on {
	background-color: #eee;
}
/* SCROLL */
.yScroll {
overflow-x: hidden;
overflow-y: auto;
}


/*환경 설정 임시*/
.setupContentWrap > p {
padding: 8px;
font-weight: bold;
border:1px solid #e0e0e0;
background-image: url(/images/ko/ico.png);
background-repeat: no-repeat;
background-position: right -255px;
background-color: #fff;
}

.setupContentWrap > div {
padding-bottom: 7px;
border-bottom: 1px dotted #888;
}
.setupContentWrap div label {
display: inline-block;
margin-right: 10px;
}