<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
    	<typeAlias type="ndtp.domain.ConverterJob" alias="converterJob" />
    	<typeAlias type="ndtp.domain.ConverterJobFile" alias="converterJobFile" />
		<typeAlias type="ndtp.domain.DataGroup" alias="dataGroup" />
		<typeAlias type="ndtp.domain.DataInfo" alias="dataInfo" />
		<typeAlias type="ndtp.domain.DataInfoLog" alias="dataInfoLog" />
		<typeAlias type="ndtp.domain.GeoPolicy" alias="geoPolicy" />
    	<typeAlias type="ndtp.domain.Layer" alias="layer" />
    	<typeAlias type="ndtp.domain.LayerGroup" alias="layerGroup" />
    	<typeAlias type="ndtp.domain.LayerFileInfo" alias="layerFileInfo" />
    	<typeAlias type="ndtp.domain.Menu" alias="menu" />
    	<typeAlias type="ndtp.domain.Policy" alias="policy" />
    	<typeAlias type="ndtp.domain.Role" alias="role" />
    	
		<typeAlias type="ndtp.domain.UploadData" alias="uploadData" />
		<typeAlias type="ndtp.domain.UploadDataFile" alias="uploadDataFile" />
    	<typeAlias type="ndtp.domain.UserGroup" alias="userGroup" />
    	<typeAlias type="ndtp.domain.UserGroupMenu" alias="userGroupMenu" />
    	<typeAlias type="ndtp.domain.UserGroupRole" alias="userGroupRole" />
		<typeAlias type="ndtp.domain.UserInfo" alias="userInfo" />
		<typeAlias type="ndtp.domain.UserPolicy" alias="userPolicy"/>
    	<typeAlias type="ndtp.domain.UserSession" alias="userSession" />
    	
 		<typeAlias type="ndtp.domain.District" alias="district"/>
 		<typeAlias type="ndtp.domain.SkSdo" alias="skSdo"/>
 		<typeAlias type="ndtp.domain.SkSgg" alias="skSgg"/>
 		<typeAlias type="ndtp.domain.SkEmd" alias="skEmd"/>
    </typeAliases>

</configuration>
