<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ndtp.persistence.CivilVoiceMapper">
	
	<!-- 시민 참여 목록 조회 -->
	<select id="getListCivilVoice" parameterType="civilVoice" resultType="civilVoice">
		/* getListCivilVoice */
		SELECT civil_voice_id, title, user_id, ST_ASTEXT(location) as location 
		FROM tn_civil_voice
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="title != null and title != '' ">
			AND ${title} = #{title}
			</if>
		</trim>
		OFFSET #{offset} LIMIT #{limit}
	</select>
	
	<!-- 시민 참여 전체 건수 조회 -->
	<select id="getCivilVoiceTotalCount" parameterType="string" resultType="long">
		/* getCivilVoiceTotalCount */
		SELECT COUNT(civil_voice_id) 
		FROM tn_civil_voice
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="title != null and title != '' ">
			AND ${title} = #{title}
			</if>
		</trim>
	</select>	
	
	<!-- 시민 참여 한건에 대한 정보 조회 -->
	<select id="getCivilVocieById" parameterType="long" resultType="civilVoice">
		/* getCivilVocieById */
		SELECT * FROM tn_civil_voice WHERE civil_voice_id = #{civilVoiceId}
	</select>	
	
	<!-- 등록 -->
	<insert id="insertCivilVoice" parameterType="civilVoice">
		/* insertCivilVoice */
		<selectKey keyProperty="civilVoiceId" resultType="long" order="BEFORE">
			SELECt NEXTVAL('civil_voice_seq')
		</selectKey>
		INSERT INTO tn_civil_voice(
			civil_voice_id, user_id, user_ip, title, content, location, heit, sido_cd, sgg_cd, emd_cd, regist_dt
		) VALUES (
			#{civilVoiceId}, #{userId}, #{userIp}, #{title}, #{content}, ST_POINT(#{longitude}, #{latitude}), #{heit}, #{sidoCd}, #{sggCd}, #{emdCd}, NOW() 
		)
	</insert>
	
	<!-- 수정 -->	
	<update id="updateCivilVoice" parameterType="civilVoice">
		/* updateCivilVoice */
		UPDATE tn_civil_voice SET
			title = #{title}, 
			content = #{content}, 
			location = ST_POINT(#{longitude}, #{latitude}), 
			heit = #{heit}, 
			sido_cd = #{sidoCd}, 
			sgg_cd = #{sggCd}, 
			emd_cd = #{emdCd},
			update_dt = NOW()
		WHERE civil_voice_id = #{civilVoiceId}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteCivilVoice" parameterType="long">
		/* deleteCivilVoice */
		DELETE FROM tn_civil_voice WHERE civil_voice_id = #{civilVoiceId}
	</delete>		
</mapper>