<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ndtp.persistence.SimuMapper">

	<!-- 세션 정보 -->
	<select id="getSimCityPlanFileList" resultType="simFileInfo">
		select sim_file_seq, origin_file_name, save_file_name, save_file_path, create_dt from sim_file_master;
	</select>

	<insert id="insertSimCityPlanFile" parameterType="simFileInfo">
		<selectKey keyProperty="simFileSeq" resultType="int" order="BEFORE">
			SELECt NEXTVAL('sim_file_sequence')
		</selectKey>
		INSERT INTO sim_file_master(
			sim_file_seq, origin_file_name, save_file_name, save_file_path, create_dt
		) VALUES (
			#{simFileSeq}, #{originFileName}, #{saveFileName}, #{saveFilePath}, NOW()
		)
	</insert>

</mapper>