<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ndtp.persistence.UserPolicyMapper">

    <!-- 사용자 설정 정보 조회 -->
    <select id="getUserPolicy" parameterType="string" resultType="userPolicy">
        /* getUserPolicy */
        SELECT * FROM user_policy WHERE user_id = #{userId}
    </select>

    <!-- 사용자 설정 등록 -->
    <insert id="insertUserPolicy" parameterType="userPolicy">
        /* insertUserPolicy */
        <selectKey keyProperty="userPolicyId" resultType="int" order="BEFORE">
        SELECT NEXTVAL('user_policy_seq')
        </selectKey>
        INSERT INTO user_policy (
        	user_policy_id, user_id, init_latitude, init_longitude, init_altitude, init_duration, init_default_fov, lod0, lod1, lod2, lod3, lod4, lod5, ssao_radius, insert_date
        )
        VALUES (
        	#{userPolicyId}, #{userId}, #{initLatitude}, #{initLongitude}, #{initAltitude}, #{initDuration}, #{initDefaultFov},
        	#{lod0}, #{lod1}, #{lod2}, #{lod3}, #{lod4}, #{lod5}, #{ssaoRadius}, NOW()
        )
    </insert>

    <!-- 사용자 설정 수정 -->
    <update id="updateUserPolicy" parameterType="userPolicy">
        /* updateUserPolicy */
        UPDATE user_policy SET
        	init_latitude = #{initLatitude}, 
        	init_longitude = #{initLongitude}, 
        	init_altitude = #{initAltitude}, 
        	init_duration = #{initDuration}, 
        	init_default_fov = #{initDefaultFov},
        	lod0 = #{lod0},
        	lod1 = #{lod1}, 
        	lod2 = #{lod2}, 
        	lod3 = #{lod3},
        	lod4 = #{lod4}, 
        	lod5 = #{lod5}, 
        	ssao_radius = #{ssaoRadius}, 
            update_date = NOW()
        WHERE user_id = #{userId}
    </update>
</mapper>