<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nscp.persistence.RoleMapper">
	
	<!-- Role 총 건수 -->
	<select id="getRoleTotalCount" parameterType="role" resultType="long">
		/* getRoleTotalCount */
		SELECT COUNT(role_id) 
		FROM role
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '0'.toString()">
			${searchWord} = #{searchValue}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '1'.toString()">
			${searchWord} LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="startDate != null and startDate != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{startDate}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="endDate != null and endDate != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{endDate}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		</trim>
	</select>

	<!-- Role 목록 -->
	<select id="getListRole" parameterType="role" resultType="role">
		/* getListRole */
		SELECT *
		FROM role 
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '0'.toString()">
			${searchWord} = #{searchValue}
			</if>
			<if test="searchWord != null and searchWord != '' and searchValue != null and searchValue != '' and searchOption == '1'.toString()">
			${searchWord} LIKE '%' || #{searchValue} || '%'
			</if>
			<if test="startDate != null and startDate != ''">
			<![CDATA[
			AND insert_date >= TO_TIMESTAMP(#{startDate}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
			<if test="endDate != null and endDate != ''">
			<![CDATA[
			AND insert_date <= TO_TIMESTAMP(#{endDate}, 'YYYYMMDDHH24MISSUS')
			]]>
			</if>
		</trim> 
        <choose>
		<when test="orderWord != null and orderWord != '' and orderValue != null and orderValue != ''">
		ORDER BY ${orderWord} ${orderValue}
		</when>
		<otherwise>
		ORDER BY insert_date DESC, role_id DESC
		</otherwise>
		</choose>
		OFFSET #{offset} LIMIT #{limit}
	</select>
	
	<!-- Role 정보 -->
	<select id="getRole" parameterType="int" resultType="role">
		/* getRole */
		SELECT * FROM role WHERE role_id = #{roleId}
	</select>
	
	<!-- Role 등록 -->
	<insert id="insertRole" parameterType="role" >
		/* insertRole */
		<selectKey keyProperty="roleId" resultType="int" order="BEFORE">
		SELECT NEXTVAL('role_seq')
		</selectKey>
		INSERT INTO role(
			role_id, role_name, role_key, role_target, role_type, use_yn, default_yn, description
		) VALUES (
			#{roleId}, #{roleName}, #{roleKey}, #{roleTarget}, #{roleType}, #{useYn}, #{defaultYn}, #{description}
		)
	</insert>
	
	<!-- Role 수정 -->
	<update id="updateRole" parameterType="role">
		/* updateRole */
		UPDATE role
		SET role_name = #{roleName},
			<if test="roleKey != null and roleKey != ''">		
			role_key = #{roleKey},
			</if>
			role_target = #{roleTarget},
			role_type = #{roleType},
			use_yn = #{useYn},
			default_yn = #{defaultYn},
			description = #{description}
		WHERE role_id = #{roleId}
	</update>
	
	<!-- Role 삭제 -->
	<delete id="deleteRole" parameterType="int">
		/* deleteRole */
		DELETE FROM role WHERE role_id = #{roleId}
	</delete>
</mapper>